@{
    ViewData["Title"] = "Product Menu";
}
<!-- Loader -->
<link href="~/css/StyleLoader.css" rel="stylesheet" />
<script src="~/js/loader-3.3.1.mim.js"></script>
<script src="~/js/scriptloader.js"></script>
<div class="preloading">
    <div class="loader">
        <img src="https://media.giphy.com/media/vRgtyq00R4AflDmKFe/giphy.gif">
    </div>
</div>
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<section class="menu" id="menu">

    <h1 class="heading"> our <span>menu</span> </h1>
    <div class="animate__animated animate__fadeInLeft">
        <div class="menu-box-h3">
            <h3 class="menu-h3"> LMHT <span>Model</span></h3>
        </div>
    </div>
    <div class="box-container">

        <div class="box">
            <img src="https://cf.shopee.vn/file/965d7328a957418378ed031e24e4aa56_tn" alt="">
            <h3>Mô hình Senna</h3>
            <div class="price">$29.48 <span>30.99</span></div>

            <a class="btn" asp-area="" asp-controller="Menu" asp-action="Senna">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/e4344d3815cdb82ed1b7673d31f1a3d8_tn" alt="">
            <h3>Mô hình Yasuo</h3>
            <div class="price">$30.00 <span>39.99</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="Yasuo">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/ba21068dbb473e178deb668c947302b4_tn" alt="">
            <h3>Mô hình Akali</h3>
            <div class="price">$29.48 <span>30.99</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="Akali">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/bf0309564396ca32140d84fcd3015f67_tn" alt="">
            <h3>Mô hình Ekko</h3>
            <div class="price">$29.48 <span>30.99</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="Ekko">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/5be8258e0397dd9c777a1dbc89edd245" alt="">
            <h3>Mô hình Qiyana</h3>
            <div class="price">$29.48 <span>30.99</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="Qiyana">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/f9c98c10af4a52a1edabf46bd1e97a8d" alt="">
            <h3>Mô hình Teemo Evil</h3>
            <div class="price">$666.99 <span>969.99</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="TeemoEvil">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/80c47c81bbfa90bf61764891d4758e01_tn" alt="">
            <h3>Mô hình Teemo</h3>
            <div class="price">$99.99 <span>100.99</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="Teemo">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/192b669abc2726a23a93260163f23370" alt="">
            <h3>Mô hình Teemo Die</h3>
            <div class="price">$199.99 <span>999.99</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="TeemoDie">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/86c666a54621e0a9fe1cde454fd42f02" alt="">
            <h3>Mô hình Teemo Chibi</h3>
            <div class="price">$99.99 <span>100.99</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="TeemoChibi">thêm vào giỏ</a>
        </div>
    </div>

    <div class="animate__animated animate__fadeInLeft">
        <div class="menu-box-h3">
            <h3 class="menu-h3"> LMHT <span>Stuffed Animal</span></h3>
        </div>
    </div>
    <div class="box-container">

        <div class="box">
            <img src="https://cf.shopee.vn/file/146aaf62e86dbf9a0a2fd50990d57716" alt="">
            <h3>Gấu Bông Teemo</h3>
            <div class="price">$388.89 <span>400.99</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="TeemoPlush">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/61e11dd150e1114d5e48c44ea8a62a83" alt="">
            <h3>Gấu Bông Beemo</h3>
            <div class="price">$400.99 <span>599.58</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="BeemoPlush">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/2023c3cfc6890e617a398adc44bb5202" alt="">
            <h3>Gấu bông Rengar</h3>
            <div class="price">$28.00 <span>39.98</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="RengarPlush">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/bf0309564396ca32140d84fcd3015f67_tn" alt="">
            <h3>Mô hình Ekko</h3>
            <div class="price">$29.48 <span>30.99</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="Ekko">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/5be8258e0397dd9c777a1dbc89edd245" alt="">
            <h3>Mô hình Qiyana</h3>
            <div class="price">$29.48 <span>30.99</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="Qiyana">thêm vào giỏ</a>
        </div>

        <div class="box">
            <img src="https://cf.shopee.vn/file/80c47c81bbfa90bf61764891d4758e01_tn" alt="">
            <h3>Mô hình Teemo</h3>
            <div class="price">$99.99 <span>100.99</span></div>
            <a class="btn" asp-area="" asp-controller="Menu" asp-action="Teemo">thêm vào giỏ</a>
        </div>

    </div>
</section>

<style>

    :root {
        --main-color: #38a1b9;
        --black: #302f2f;
        --bg: snow;
        --border: .1rem solid rgb(0 0 0 / 30%);
    }

    * {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: .2s linear;
    }

    html {
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 9rem;
        scroll-behavior: smooth;
    }

        html::-webkit-scrollbar {
            width: .8rem;
        }

        html::-webkit-scrollbar-track {
            background: transparent;
        }

        html::-webkit-scrollbar-thumb {
            background: #302f2f;
            border-radius: 5rem;
        }

    body {
        background: var(--bg);
    }

    section {
        padding: 2rem 7%;
    }

    .heading {
        text-align: center;
        color: #302f2f;
        text-transform: uppercase;
        padding-bottom: 3.5rem;
        font-size: 4rem;
    }

        .heading span {
            color: var(--main-color);
            text-transform: uppercase;
        }

    .menu-h3 {
        margin: auto;
        text-align: left;
        color: #38a1b9;
    }

        .menu-h3 span {
            color: #e91783;
        }

    .menu-box-h3 {
        box-shadow: 0 5px 6px rgb(104 104 104 / 80%);
        height: 60%;
        margin: auto;
        line-height: 1.9;
        font-family: poppins;
        background: #ffffff;
        padding: 5px 20px;
        display: inline-block;
        margin-bottom: 2rem;
        margin-top: 3rem;
        border: 1px solid;
    }


    .btn {
        margin-top: 1rem;
        display: inline-block;
        padding: .9rem 3rem;
        font-size: 1.7rem;
        color: #fff;
        background: var(--main-color);
        cursor: pointer;
        transition: 0.5s
    }

        .btn:hover {
            letter-spacing: .2rem;
        }

    #menu-btn {
        display: none;
    }

    .menu .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.5rem;
    }

        .menu .box-container .box {
            padding: 5rem;
            text-align: center;
            border: rgb(0 0 0 / 30%);
            background: #302f2f;
        }

            .menu .box-container .box img {
                height: 10rem;
            }

            .menu .box-container .box h3 {
                color: #fff;
                font-size: 2rem;
                padding: 1rem 0;
            }

            .menu .box-container .box .price {
                color: #fff;
                font-size: 2.5rem;
                padding: .5rem 0;
            }

                .menu .box-container .box .price span {
                    font-size: 1.5rem;
                    text-decoration: line-through;
                    font-weight: lighter;
                }

            .menu .box-container .box:hover {
                background: snow;
            }

                .menu .box-container .box:hover > * {
                    color: var(--black);
                }
</style>
