@{
    ViewData["Title"] = "Model Zed";
}

<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<!-- Loader -->
<link href="~/css/StyleLoader.css" rel="stylesheet" />
<script src="~/js/loader-3.3.1.mim.js"></script>
<script src="~/js/scriptloader.js"></script>
<div class="preloading">
    <div class="loader">
        <img src="https://i.pinimg.com/originals/a9/e5/06/a9e506364ae6b6892e6a126a2f021206.gif">
        <!--<img src="https://media.giphy.com/media/vRgtyq00R4AflDmKFe/giphy.gif">-->
    </div>
</div>
<section class="home" id="home">

    <div class="content">
        <h3>Chào mừng đến với shop Lolmodel</h3>
        <p>Chúc quý khách một ngày tốt lành </p>

    </div>

</section>
<section class="about" id="about">


    <h1 class="heading"> Giới thiệu<span> Sản phẩm</span></h1>

    <div class="row">

        <div class="content">
            <h3>Model Zed</h3>
            <p>Thương hiệu: Riot Games</p>
            <p> Chiều cao: 3,6 in / 9,2 cm </p>
            <p> Chiều rộng: 3,5 in / 8,9 cm </p>
            <p> Chất Liệu: PVC/ABS </p>
            <p> Trọng lượng: 500g </p>
            <p>Nhân vật: Zed</p>
            <p>Dòng mô hình size: Chibi 10cm</p>
            <a href="#" class="btn">Mua Ngay!</a>
        </div>

        <div class="image">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://cdn-onshop.cdn.vccloud.vn/images/figroom/w_2000,h_2000/2018-09-07-000610111image69.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://cdn-onshop.cdn.vccloud.vn/images/figroom/w_2000,h_2000/2018-09-07-000608446image67-2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://cdn-onshop.cdn.vccloud.vn/images/figroom/w_2000,h_2000/2018-09-07-000609310image68-2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://cdn-onshop.cdn.vccloud.vn/images/figroom/w_2000,h_2000/2018-09-07-000610941image70-1.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="height: 4rem;margin-top: 25rem;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="height: 4rem;margin-top: 25rem;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
            </div>
        </div>

    </div>

</section>
<section class="contact" id="contact">

    <h1 class="heading"> <span>Đăng ký</span> Đặt hàng</h1>

    <div class="row">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249525.44778326884!2d109.10641542691944!3d12.25943461534638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3170677811cc886f%3A0x5c4bbc0aa81edcb9!2zVHAuIE5oYSBUcmFuZywgS2jDoW5oIEjDsmE!5e0!3m2!1svi!2s!4v1647781630892!5m2!1svi!2s" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <form action="">
            <h3>get in touch</h3>
            <div class="inputBox">
                <i class='fab fa-accessible-icon fa-spin fa-3x' style="font-size:24px;margin-left: 1.5rem;margin-right: -0.5rem;"></i>
                <input type="text" placeholder="name">
            </div>
            <div class="inputBox">
                <i class="fa fa-mobile-phone fa-spin" style="font-size:24px;margin-left: 1.5rem;margin-right: 0.2rem;"></i>
                <input type="number" placeholder="number">
            </div>
            <div class="inputBox">
                <i class="fas fa-home fa-spin" style="font-size:24px;margin-left: 1rem;margin-right: -0.5rem;"></i>
                <input type="email" placeholder="delivery address">
            </div>
            <input type="submit" value="contact now" class="btn">
        </form>

    </div>

</section>
<style>

    :root {
        --main-color: #38a1b9;
        --black: #302f2f;
        --bg: snow;
        --border: .1rem solid rgb(0 0 0 / 30%);
    }

    * {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        transition: .2s linear;
    }

    html {
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 9rem;
        scroll-behavior: smooth;
    }

        html::-webkit-scrollbar {
            width: .8rem;
        }

        html::-webkit-scrollbar-track {
            background: transparent;
        }

        html::-webkit-scrollbar-thumb {
            background: #302f2f;
            border-radius: 5rem;
        }

    body {
        background: var(--bg);
    }

    section {
        padding: 2rem 7%;
    }

    .heading {
        text-align: center;
        color: black;
        text-transform: uppercase;
        padding-bottom: 3.5rem;
        font-size: 4rem;
    }

        .heading span {
            color: var(--main-color);
            text-transform: uppercase;
        }

    .btn {
        margin-top: 1rem;
        display: inline-block;
        padding: .9rem 3rem;
        font-size: 1.7rem;
        color: #fff;
        background: var(--main-color);
        cursor: pointer;
    }

        .btn:hover {
            letter-spacing: .2rem;
        }

    .header {
        background: var(--bg);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 7%;
        border-bottom: var(--border);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

        .header .logo img {
            height: 6rem;
        }

        .header .navbar a {
            margin: 0 1rem;
            font-size: 1.6rem;
            color: #fff;
        }

            .header .navbar a:hover {
                color: var(--main-color);
                border-bottom: .1rem solid var(--main-color);
                padding-bottom: .5rem;
            }

        .header .icons div {
            color: #fff;
            cursor: pointer;
            font-size: 2.5rem;
            margin-left: 2rem;
        }

            .header .icons div:hover {
                color: var(--main-color);
            }

    #menu-btn {
        display: none;
    }

    .header .search-form {
        position: absolute;
        top: 115%;
        right: 7%;
        background: #fff;
        width: 50rem;
        height: 5rem;
        display: flex;
        align-items: center;
        transform: scaleY(0);
        transform-origin: top;
    }

        .header .search-form.active {
            transform: scaleY(1);
        }

        .header .search-form input {
            height: 100%;
            width: 100%;
            font-size: 1.6rem;
            color: var(--black);
            padding: 1rem;
            text-transform: none;
        }

        .header .search-form label {
            cursor: pointer;
            font-size: 2.2rem;
            margin-right: 1.5rem;
            color: var(--black);
        }

            .header .search-form label:hover {
                color: var(--main-color);
            }

    .header .cart-items-container {
        position: absolute;
        top: 100%;
        right: -100%;
        height: calc(100vh - 9.5rem);
        width: 35rem;
        background: #fff;
        padding: 0 1.5rem;
    }

        .header .cart-items-container.active {
            right: 0;
        }

        .header .cart-items-container .cart-item {
            position: relative;
            margin: 2rem 0;
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }

            .header .cart-items-container .cart-item .fa-times {
                position: absolute;
                top: 1rem;
                right: 1rem;
                font-size: 2rem;
                cursor: pointer;
                color: var(--black);
            }

                .header .cart-items-container .cart-item .fa-times:hover {
                    color: var(--main-color);
                }

            .header .cart-items-container .cart-item img {
                height: 7rem;
            }

            .header .cart-items-container .cart-item .content h3 {
                font-size: 2rem;
                color: var(--black);
                padding-bottom: .5rem;
            }

            .header .cart-items-container .cart-item .content .price {
                font-size: 1.5rem;
                color: var(--main-color);
            }

        .header .cart-items-container .btn {
            width: 100%;
            text-align: center;
        }

    .home {
        min-height: 50vh;
        display: flex;
        align-items: center;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://cf.shopee.vn/file/5f497bcfa5afe3b72aba7e7453850ae2);
        background-size: cover;
        background-position: center;
    }

        .home .content {
            max-width: 60rem;
        }

            .home .content h3 {
                text-align: left;
                font-size: 6rem;
                text-transform: uppercase;
                color: #fff;
            }

            .home .content p {
                font-size: 2rem;
                font-weight: lighter;
                line-height: 1.8;
                padding: 1rem 0;
                color: #eee;
            }

    .about .row {
        display: flex;
        align-items: center;
        background: var(--black);
        flex-wrap: wrap;
    }

        .about .row .image {
            flex: 1 1 45rem;
        }

            .about .row .image img {
                width: 100%;
            }

        .about .row .content {
            flex: 1 1 45rem;
            padding: 2rem;
        }

            .about .row .content h3 {
                font-size: 3rem;
                color: #fff;
            }

            .about .row .content p {
                font-size: 1.6rem;
                color: #ccc;
                padding: 1rem 0;
                line-height: 1.8;
            }


    .contact .row {
        display: flex;
        background: var(--black);
        flex-wrap: wrap;
        gap: 1rem;
    }

        .contact .row .map {
            flex: 1 1 45rem;
            width: 100%;
            object-fit: cover;
        }

        .contact .row form {
            flex: 1 1 45rem;
            padding: 5rem 2rem;
            text-align: center;
        }

            .contact .row form h3 {
                text-transform: uppercase;
                font-size: 3.5rem;
                color: #fff;
            }

            .contact .row form .inputBox {
                display: flex;
                align-items: center;
                margin-top: 2rem;
                margin-bottom: 2rem;
                background: var(--bg);
                border: var(--border);
            }

                .contact .row form .inputBox span {
                    color: #fff;
                    font-size: 2rem;
                    padding-left: 2rem;
                }

                .contact .row form .inputBox input {
                    width: 100%;
                    padding: 2rem;
                    font-size: 1.7rem;
                    color: black;
                    text-transform: none;
                    background: none;
                }

    .blogs .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.5rem;
    }

        .blogs .box-container .box {
            border: var(--border);
        }

            .blogs .box-container .box .image {
                height: 25rem;
                overflow: hidden;
                width: 100%;
            }

                .blogs .box-container .box .image img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }

            .blogs .box-container .box:hover .image img {
                transform: scale(1.2);
            }

            .blogs .box-container .box .content {
                padding: 2rem;
            }

                .blogs .box-container .box .content .title {
                    font-size: 2.5rem;
                    line-height: 1.5;
                    color: #fff;
                }

                    .blogs .box-container .box .content .title:hover {
                        color: var(--main-color);
                    }

                .blogs .box-container .box .content span {
                    color: var(--main-color);
                    display: block;
                    padding-top: 1rem;
                    font-size: 2rem;
                }

                .blogs .box-container .box .content p {
                    font-size: 1.6rem;
                    line-height: 1.8;
                    color: #ccc;
                    padding: 1rem 0;
                }

    .footer {
        text-align: center;
    }

        .footer .share {
            padding: 1rem 0;
        }

            .footer .share a {
                height: 5rem;
                width: 5rem;
                line-height: 5rem;
                font-size: 2rem;
                color: #fff;
                border: var(--border);
                margin: .3rem;
                border-radius: 50%;
            }

                .footer .share a:hover {
                    background-color: var(--main-color);
                }

        .footer .links {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 2rem 0;
            gap: 1rem;
        }

            .footer .links a {
                padding: .7rem 2rem;
                color: #fff;
                border: var(--border);
                font-size: 2rem;
            }

                .footer .links a:hover {
                    background: var(--main-color);
                }

        .footer .credit {
            font-size: 2rem;
            color: #fff;
            font-weight: lighter;
            padding: 1.5rem;
        }

            .footer .credit span {
                color: var(--main-color);
            }

    /* media queries  */

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

        .header .navbar.active {
            right: 0;
        }

        .header .navbar a {
            color: var(--black);
            display: block;
            margin: 1.5rem;
            padding: .5rem;
            font-size: 2rem;
        }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: left;
        text-align: left;
    }

        .home .content h3 {
            font-size: 4.5rem;
        }

        .home .content p {
            font-size: 1.5rem;
        }
</style>
